/* Google Fonts üzerinden Poppins fontunu dahil ediyoruz */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* typing-container sınıfını hedef alarak sadece bu kısımdaki yazıyı ve cursor'ı özelleştiriyoruz */
.typing-container {
    font-size: 30px;  /* Yazı boyutu */
    font-weight: 500;
    color: #333;      /* Yazı rengi */
    display: flex;
    justify-content: center;  /* Yatayda ortalamak için */
    align-items: center;      /* Dikeyde ortalamak için */
    height: 100vh;     /* Sayfa yüksekliği kadar kapsama alanı */
    font-family: 'Poppins', sans-serif; /* Yazı tipi */
    text-align: center; /* Yazının ortalanması */
}

.typing-container #typed-text {
    font-size: 30px; /* Yazı boyutu */
    color: #333;     /* Yazı rengi */
    font-weight: 500;
}

.typing-container .cursor {
    display: inline-block;
    width: 2px;
    height: 1.2em; /* Harf yüksekliğini tam kapsaması için artırıldı */
    background-color: black;  /* Cursor rengi */
    margin-left: 2px;
    vertical-align: middle;  /* Dikey hizalama */
    animation: blink 0.8s infinite;  /* Yanıp sönme animasyonu */
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}